################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnergyUsage/bin/Debug
/EnergyUsage/obj
/EnergyUsage/bin/Release
/EnergyUsage/FillData.cs
