<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnergyUsage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EnergyUsage.Properties.Settings>
      <setting name="API_Key" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Import_MPAN" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="MPRN" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Electric_meter_ser_num" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Gas_meter_ser_num" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Electricity_import" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Date_from" serializeAs="String">
        <value>2023-07-01</value>
      </setting>
      <setting name="Hour_from" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="Minutes_from" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="Date_to" serializeAs="String">
        <value>2023-07-31</value>
      </setting>
      <setting name="Hour_to" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="Minutes_to" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Export_MPAN" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="tariff_name" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="region" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="use_gas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="export_electric" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dual_rate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="single_rate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="direct_debit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="non_direct_debit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="other_payment_method" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="electric_unit" serializeAs="String">
        <value>30.72</value>
      </setting>
      <setting name="electric_standing" serializeAs="String">
        <value>42.01</value>
      </setting>
      <setting name="gas_unit" serializeAs="String">
        <value>7.40</value>
      </setting>
      <setting name="gas_standing" serializeAs="String">
        <value>27.47</value>
      </setting>
      <setting name="electric_export_unit" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Electricity_export" serializeAs="String">
        <value>False</value>
      </setting>
    </EnergyUsage.Properties.Settings>
  </userSettings>
</configuration>