<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnergyUsage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EnergyUsage.Properties.Settings>
      <setting name="API_Key" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="MPAN" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="MPRN" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Electric_meter_ser_num" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Gas_meter_ser_num" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Dual_fuel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Electrcity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Date_from" serializeAs="String">
        <value>2023-06-25</value>
      </setting>
      <setting name="Hour_from" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="Minutes_from" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="Date_to" serializeAs="String">
        <value>2023-06-26</value>
      </setting>
      <setting name="Hour_to" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="Minutes_to" serializeAs="String">
        <value>00</value>
      </setting>
    </EnergyUsage.Properties.Settings>
  </userSettings>
</configuration>